# Node
node_modules/
npm-debug.log*

# Coverage
coverage/

# Environment files
.env
.env.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac
.DS_Store

# Windows
Thumbs.db
